/*--------------------------------------------------MENU-----------------------------------------------------------*/

body{   /*Reset CSS des marges */
	font-family: Sergoe UI, Calibri, serif, sans-serif;
	margin: 0px;
	padding: 0px;
}

nav{ /*Style de la barre du menu */
	width: 100%;
	background-color: #6658f5;
}

nav > ul{   /*Reset CSS des marges */
	margin: 0px;
	padding: 0px;
}

nav > ul::after{
	content: "";
	display: block;
	clear: both;
}

nav li{ /* Suppression des puces de la liste li*/
	list-style-type: none;
}

nav > ul > li{ 
	float: left;
	position: relative;
}

.submenu{ /* Cacher par défaut les sous-onglets*/
	display: none;
}

nav a{ /* Faire en sorte que les cases du menu s'étendent et enlever le soulignage du texte*/
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a{ /* Couleur et padding aux éléments a relatifs aux onglets principaux */
	padding: 20px 30px;
	color: #f2f1fa;
}

nav > ul > li:hover a{ /* Sert à faire en sorte que le menu ne bouge plus quand on passe notre souris dessus*/
	padding: 15px 30px 20px 30px;
}

nav li:hover .submenu{ /* modification du style du sous-menu lorsque l'utilisateur pointe ce sous menu*/
	display: inline-block;
	position: absolute;
	top:100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}

.submenu li{ /* Style des onglets du sous-menu*/
	border-bottom: 1px solid #CCC;
}

.submenu li a{ /* Style des liens du sous-menu*/
	padding: 15px 30px
	font-size: 13px;
	width: 270px;
}

.menu-kezako:hover{ /*Style onglet Kezako menu*/
	border-top: 5px solid #2652d7;
	background-color: rgba(38, 82, 215, 0.15);
}

.menu-ProjetEx:hover{ /*Style onglet ProjetExemple menu*/
	border-top: 5px solid #BC13CF;
	background-color: rgba(188, 19, 207, 0.15);
}

.menu-FuturTech:hover{ /*Style onglet Futur Technologie menu*/
	border-top: 5px solid #0AEBCD;
	background-color: rgba(10, 235, 205, 0.15);
}

.menu-Biblio:hover{ /*Style onglet Bibliographie a propos menu*/
	border-top: 5px solid #E3EB0A;
	background-color: rgba(227, 235, 10, 0.15);
}

.submenu{
	background-color: rgb(225,225,225);
}

.submenu li:hover a{
	color:#9B1FF1;
	font-weight: bold;
}
/*-------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------PAGES EN GENERAL-------------------------------------------------------------------*/

/*Style du corps entier de la page*/
body{
	background-color: #DADADA;
	display: flex;
	flex-direction: column;
}

.logo{ /* Style de la bannière du site*/
  width: 100%;
  height: 150px;
  background: url("Images/Futu'RA.png");
  background-size: cover;
  background-position: center;
}

#Main {
  padding: 30px 120px;
  border-bottom-style: groove;
  border-bottom-color: blue;
  flex: 1 0 auto;
}

.RA{
	font-weight: bold;
	color: #1F75F1;
	text-decoration: none;
}

.RA:hover{
	text-decoration: underline;
}
.Bienvenue{
	color: #413F49;
}

.Tram{
	padding: 10px 30px;
	width: auto;
	max-height: 100%;
	height: 400px;
}

.Industrie{
	padding: 10px 100px;
	width: auto;
	max-height: 100%;
	height: 400px;
}

.Titre{
	text-align: center;
	border-bottom-style: groove;
	border-bottom-color: blue;
	flex: 1 0 auto;
}


.TexteDef{
	padding: 30px 120px;
	border-bottom: 1px groove blue;
	flex: 1 0 auto;
	font-size: large;
}

.Important{
	font-weight: bold;
}

.VideoRA{
	padding: 30px 120px;
	border-bottom: 1px groove blue;
	flex: 1 0 auto;
	font-size: large;
}

.VideoRA p{
	float: right;
	padding: 0px 100px;
}

.TexteAvantages{
	padding: 30px 120px;
	border-bottom: 1px groove blue;
	flex: 1 0 auto;
	font-size: large;
}

.ChocapicRA{
	font-style: italic;
}

.TexteRisques{
	padding: 30px 120px;
	border-bottom: 1px groove blue;
	flex: 1 0 auto;
	font-size: large;
}

.ArticlePOKE{
	text-decoration: none;
	font-weight: bold;
	text-decoration: #6658f5;
}

.ArticlePOKE:hover{
	text-decoration: underline;
}

.Image-RISK{
	padding: 30px 120px;
	border-bottom: 1px groove blue;
	flex: 1 0 auto;
	font-size: large;
	width: 50%;
}

.LunettesRA{
	float: right;
}

.Texte-RISK{
	float: right;
	font-style: italic;
}


.TexteDIVERT{
	padding: 30px 120px;
	border-bottom: 1px groove blue;
	flex: 1 0 auto;
	font-size: large;
}

.Image-POKE{
	padding: 30px 120px;
	border-bottom: 1px groove blue;
	flex: 1 0 auto;
	font-size: large;
}

.Tel{
	padding-left: 100px;
}

.PKMNTel{
	padding-bottom: 100px;
}

.Augmented{
	font-weight: bold;
}

.VideoVOITURE{
	margin-left: 500px;
}


.TexteSERVICES{
	padding: 30px 120px;
	border-bottom: 1px groove blue;
	flex: 1 0 auto;
	font-size: large;
}

.ImageAVION{
	margin-left: 500px;
	margin-top: 20px;
}

.TexteFUTUR1,
.TexteFUTUR2{
	padding: 30px 120px;
	border-bottom: 1px groove blue;
	flex: 1 0 auto;
	font-size: large;
}

.VideoHR{
	text-decoration: none;
	color: blue;
	font-style: italic;
}

.VideoHR:hover{
	text-decoration: underline;
}

.TexteFUTUR2 img{
	padding: 0px 200px;
}

table{
	width: 100%;
	padding-top: 20px;
  }
  
th{
	height: 70px;
	background-color: #6658f5 ;
  }


table, th, td{
	border:  1px solid black;
}

th, td{
	padding: 15px;
	text-align: left;
}

/*----------------------------FOOTER-----------------------*/

footer{
	flex-shrink: 0;
	border-top: 1px solid blue;
	width: 100%;
	color: #413F49; 
}

.contenu-footer{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 20px;
	padding: 50px 0 100px;
}


.bloc{
	width: 25%;
	margin: 0 30px;
}

/*Nous Contacter*/

.footer-noms h3,
.footer-contact h3{
	font-size: 25px;
	padding-bottom: 20px;
}

.footer-contact p{
	padding: 5px 0;
}

.LienGit{
	text-decoration: none;
	color: blue;
	position: absolute;
	margin-left: 800px;
	margin-top: 10px;
	font-weight: bold;
}

/* Enlever les points des listes*/

.liste-noms{
	list-style-type: none;
}

.liste-noms li{
	padding: 2px 0;
}

/*Adaptations aux petits écrans*/

@media screen and (max-width: 1300px){

	.contenu-footer{
		width: 700px;
		flex-wrap: wrap;
	}
	.bloc {
		width: 40%;
		margin: 0 0;
	}
	.bloc:nth-child(1),
	.bloc:nth-child(2) {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 800px) {
	.contenu-footer {
		width: 320px;
	}
	.bloc {
		width: 300px;
		margin: 30px 30px;
	}
	.bloc:nth-child(1),
	.bloc:nth-child(2) {
		margin-bottom: 30px;
	}
	.bloc:nth-child(1){
		margin-top: 0;
	}
}

/*Style de l'ancre*/
.AncreHAUT{
	text-decoration: none;
	color: grey;
	position: absolute;
	margin-left: 800px;
	margin-bottom: 40px;
	font-weight: bold;
}

